.hero {
    padding: 8rem 2rem;
    background-image: url('/img/astronaut-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Comforter', cursive;
}

.hero__wrapper {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 2rem;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    text-align: center;
}

.hero__par {
	color: #fff;
	font-size: 3rem;
}

.hero__par span {
    background-color: aquamarine;
}